{{#each games}}

    <br>

    <div class="card card-body">
        <h1>{{title}}</h1>
        <hr>
        <p>Owns the game: {{owner}}</p>
    </div>

{{else}}
    
<p>There are no games in the database.</p>

{{/each}}
